* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: arial,sans-serif;
}

.navbar--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.links {
  padding-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.links a {
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.logo {
  padding-top: 150px;
  max-height: 100%;
  max-width: 100%;
}

.logo img {
  height: 92px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search--wrapper {
  padding-top: 18px;
  display: block;
  margin:0 auto;
  width: 70%;
}